---
import CreateExpenseCard from '@/components/expenses/CreateExpenseCard.svelte';
import Page from '@/layouts/Page.astro';
---

<Page title="Create new expense | Adnexos">
	<div class="flex h-screen items-center justify-center p-2">
		<CreateExpenseCard client:load />
	</div>
</Page>
