---
import type { AstroInstance } from 'astro';

interface Props {
	activeUrl: string;
}
const { activeUrl } = Astro.props;

// fetch page components
const components: (AstroInstance & { title?: string; navIndex?: number; icon?: any })[] =
	Object.values(import.meta.glob('../pages/*.astro', { eager: true }));
// filter and sort components to show them in dock
const pages = components
	.filter(x => x.navIndex && x.icon)
	.toSorted((a, b) => (a.navIndex ?? 0) - (b.navIndex ?? 0))
	.map(x => ({
		url: x.url || '/',
		icon: x.icon,
		title: x.title,
	}));
---

<div class="dock dock-lg bg-base-200">
	{
		pages.map(x => {
			return (
				<a href={x.url} class:list={[{ 'dock-active': activeUrl === x.url }]}>
					<x.icon />
					<span class="dock-label">{x.title}</span>
				</a>
			);
		})
	}
</div>
