---
import consts from '@/consts';
import PageNav from '@/layouts/PageNav.astro';
---

{
	// FIXME back navigation if !$auth.id
}
<PageNav activeUrl="/settings" back="/settings">
	<Fragment slot="heading">About</Fragment>

	<div class="flex flex-col items-stretch gap-4 text-center">
		<figure class="avatar m-auto w-32 max-w-full">
			<img src="/logo.svg" alt="Logo" />
		</figure>

		<h2 class="text-4xl">{consts.DEFAULT_TITLE}</h2>
		<p class="opacity-80">{consts.DEFAULT_DESC}</p>

		<p class="font-bold opacity-80">Version: {__APP_VERSION__}</p>

		<h2 class="text-2xl">Open Source</h2>
		<p class="opacity-80">
			Adnexos source code is open to everyone!<br />You can find it along with its <a
				href="https://github.com/tametsi/adnexos/blob/main/LICENSE"
				target="_blank"
				rel="noopener noreferrer"
				class="link">GPL-3.0 license</a
			> on <a
				href="https://github.com/tametsi/adnexos"
				target="_blank"
				rel="noopener noreferrer"
				class="link">GitHub</a
			>.
		</p>

		<h2 class="text-2xl">Tech Stack</h2>
		<ul class="mx-auto list-inside list-[square] text-left opacity-80">
			<li>
				<a href="https://pocketbase.io" target="_blank" rel="noopener noreferrer" class="link"
					>PocketBase</a
				> as framework
			</li>
			<li>
				<a href="https://astro.build" target="_blank" rel="noopener noreferrer" class="link"
					>Astro</a
				> with <a href="https://svelte.dev" target="_blank" rel="noopener noreferrer" class="link"
					>Svelte</a
				> integration
			</li>
			<li>
				<a href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer" class="link"
					>Tailwind CSS</a
				> with <a href="https://daisyui.com" target="_blank" rel="noopener noreferrer" class="link"
					>daisyUI</a
				> components
			</li>
			<li>
				<a href="https://lucide.dev" target="_blank" rel="noopener noreferrer" class="link"
					>Lucide</a
				> icons
			</li>
			<li>
				<a
					href="https://vite-pwa-org.netlify.app/"
					target="_blank"
					rel="noopener noreferrer"
					class="link">PWA Vite Plugin</a
				> using <a
					href="https://developer.chrome.com/docs/workbox/"
					target="_blank"
					rel="noopener noreferrer"
					class="link">Workbox</a
				>
			</li>
			<li>
				<a
					href="https://www.typescriptlang.org/"
					target="_blank"
					rel="noopener noreferrer"
					class="link">TypeScript</a
				>
			</li>
			<li class="font-mono">... and of course &lt;3</li>
		</ul>
	</div>
</PageNav>
