---
import ListGroups from '@/components/groups/ListGroups.svelte';
import PageNav from '@/layouts/PageNav.astro';
import { HomeIcon } from 'lucide-svelte';

export const title = 'Groups';
export const navIndex = 1;
export const icon = HomeIcon;
---

<PageNav activeUrl="/">
	<Fragment slot="heading">Groups</Fragment>
	<Fragment slot="button">
		<a href="/groups/create" class="btn btn-neutral btn-outline btn-sm">Create</a>
	</Fragment>

	<ListGroups client:load />
</PageNav>
