---
import LoginCard from '@/components/settings/LoginCard.svelte';
import PageDialog from '@/layouts/PageDialog.astro';
---

<PageDialog title="Login | Adnexos">
	<LoginCard client:load />
	<div class="w-full max-w-sm px-8">
		<a href="/about" class="link">About</a>
		•
		<a
			href="https://github.com/tametsi/adnexos"
			target="_blank"
			rel="noopener noreferrer"
			class="link">GitHub</a
		>
	</div>
</PageDialog>
