---
import Page from '@/layouts/Page.astro';
import LoginCard from '@/components/LoginCard.svelte';
---

<Page title="Login | Adnexos">
	<div class="flex h-screen items-center justify-center p-2">
		<LoginCard client:load />
	</div>
</Page>
