---
import AccDetails from '@/components/settings/AccDetails.svelte';
import SettingsForm from '@/components/settings/SettingsForm.svelte';
import PageNav from '@/layouts/PageNav.astro';
import { WrenchIcon } from 'lucide-svelte';

export const title = 'Settings';
export const navIndex = 3;
export const icon = WrenchIcon;
---

<PageNav activeUrl="/settings">
	<Fragment slot="heading">Settings</Fragment>
	<a slot="button" href="/users/edit" class="btn btn-neutral btn-outline btn-sm">Edit Profile</a>

	<AccDetails client:load />

	<div class="divider">Settings</div>

	<SettingsForm client:load />

	<div class="divider"></div>

	<div class="mx-auto w-64 max-w-full">
		<a href="/about" class="btn btn-outline btn-wide max-w-full">About Adnexos</a>
	</div>
</PageNav>
