---
import SignUpCard from '@/components/settings/SignUpCard.svelte';
import PageDialog from '@/layouts/PageDialog.astro';
---

<PageDialog title="Signup | Adnexos">
	<SignUpCard client:load />
	<div class="flex w-full max-w-sm justify-between px-8">
		<div>
			<a href="/" class="link">Home</a>
			•
			<a href="/about" class="link">About</a>
		</div>

		<div>
			<a
				href="https://github.com/tametsi/adnexos"
				target="_blank"
				rel="noopener noreferrer"
				class="link">GitHub</a
			>
		</div>
	</div>
</PageDialog>
