---
import BottomNavigation from '@/components/BottomNavigation.astro';
import Page from '@/layouts/Page.astro';

interface Props {
	desc?: string;
	title?: string;
	url: string;
}
const { desc, title, url } = Astro.props;
---

<Page {title} {desc}>
	<div class="bg-base-100 h-[calc(100vh_-_4rem)] overflow-auto p-2">
		{
			Astro.slots.has('heading') && (
				<h1 class="overflow-hidden text-ellipsis py-2 text-3xl font-bold">
					<slot name="heading" />
				</h1>
			)
		}

		<slot />
	</div>

	<BottomNavigation activeUrl={url} />
</Page>
