---
import Alerts from '@/components/Alerts.svelte';
import AppleSplashLinks from '@/components/AppleSplashLinks.astro';
import AuthHandler from '@/components/AuthHandler.svelte';
import ReloadPromt from '@/components/ReloadPromt.svelte';
import SettingsHandler from '@/components/SettingsHandler.svelte';
import CONSTS from '@/consts';
import '@/style/style.css';
import { ClientRouter } from 'astro:transitions';
import { pwaInfo } from 'virtual:pwa-info';

interface Props {
	desc?: string;
	title?: string;
}

const { desc, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={desc || CONSTS.DEFAULT_DESC} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="icon" href="/logo.svg" sizes="any" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />
		<AppleSplashLinks />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content={CONSTS.THEME_COLOR} />
		<title>{title || CONSTS.DEFAULT_TITLE}</title>
		<ClientRouter />
		{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
	</head>
	<body>
		<slot />

		<div class="toast z-10 w-[calc(100%-2rem)] max-w-xl items-end whitespace-normal p-2">
			<Alerts client:idle />

			<ReloadPromt client:only="svelte" />
		</div>

		<SettingsHandler client:only="svelte" />
		<AuthHandler client:idle />
	</body>
</html>
