---
import Page from '@/layouts/Page.astro';

interface Props {
	desc?: string;
	title?: string;
}
const { desc, title } = Astro.props;
---

<Page {desc} {title}>
	<div class="flex min-h-screen flex-col items-center justify-center gap-3 p-2">
		<slot />
	</div>
</Page>
