---
import BottomNavigation from '@/components/BottomNavigation.astro';
import Page from '@/layouts/Page.astro';
import { ArrowLeftIcon } from 'lucide-svelte';

interface Props {
	desc?: string;
	title?: string;
	activeUrl: string;
	/** basic back btn, uses `window.history.back` */
	backBtn?: boolean;
}
const { desc, title, activeUrl, backBtn = false } = Astro.props;
---

<Page {title} {desc}>
	<div class="bg-base-100 flex h-[calc(100vh_-_4rem)] flex-col overflow-auto p-2">
		{
			// just a heading
			Astro.slots.has('heading') && !Astro.slots.has('button') && (
				<h1 class="mb-4 truncate py-2 text-3xl font-bold">
					{backBtn && (
						<button
							onclick="window.history.back()"
							class="btn btn-sm btn-ghost btn-circle align-text-bottom"
							aria-label="Go back"
						>
							<ArrowLeftIcon />
						</button>
					)}
					<slot name="heading" />
				</h1>
			)
		}
		{
			// heading with awesome button
			Astro.slots.has('heading') && Astro.slots.has('button') && (
				<h1 class="mb-4 flex items-center justify-between gap-4 py-2 text-3xl font-bold">
					<span class="truncate">
						{backBtn && (
							<button
								onclick="window.history.back()"
								class="btn btn-sm btn-ghost btn-circle align-text-bottom"
								aria-label="Go back"
							>
								<ArrowLeftIcon />
							</button>
						)}
						<slot name="heading" />
					</span>

					<slot name="button" />
				</h1>
			)
		}

		<slot />
	</div>

	<BottomNavigation {activeUrl} />
</Page>
