---
import Page from '@/layouts/Page.astro';
import CreateGroupCard from '@/components/groups/CreateGroupCard.svelte';
---

<Page title="Create new group | Adnexos">
	<div class="flex h-screen items-center justify-center p-2">
		<CreateGroupCard client:load />
	</div>
</Page>
