---
import InviteList from '@/components/groups/InviteList.svelte';
import InvitesBackBtn from '@/components/groups/InvitesBackBtn.svelte';
import PageNav from '@/layouts/PageNav.astro';
---

<PageNav activeUrl="/groups" title="Group Invites | Adnexos">
	<Fragment slot="heading">
		<InvitesBackBtn client:idle />
		Group Invites
	</Fragment>

	<div class="px-2">
		<InviteList client:load />
	</div>
</PageNav>
