---
import GroupSubpageBackBtn from '@/components/groups/GroupSubpageBackBtn.svelte';
import SettleOverview from '@/components/groups/SettleOverview.svelte';
import PageNav from '@/layouts/PageNav.astro';
---

<PageNav activeUrl="/groups" title="Settle Group | Adnexos">
	<Fragment slot="heading">
		<GroupSubpageBackBtn client:idle />
		Settle Up
	</Fragment>

	<div class="px-2">
		<SettleOverview client:load />
	</div>
</PageNav>
