---
import ViewGroupNavActions from '@/components/groups/ViewGroupNavActions.svelte';
import GroupViewDetails from '@/components/groups/GroupViewDetails.svelte';
import ListGroupExpenses from '@/components/groups/ListGroupExpenses.svelte';
import PageNav from '@/layouts/PageNav.astro';
---

<PageNav activeUrl="/">
	<Fragment slot="heading">Group Details</Fragment>
	<ViewGroupNavActions client:idle slot="button" />

	<GroupViewDetails client:load />

	<div class="divider">Expenses</div>

	<ListGroupExpenses client:load />
</PageNav>
