---
import ListGroupExpenses from '@/components/groups/ListGroupExpenses.svelte';
import PageNav from '@/layouts/PageNav.astro';
---

<PageNav activeUrl="/">
	<Fragment slot="heading">Expenses</Fragment>
	<Fragment slot="button">
		<a href="/expenses/create" class="btn btn-neutral btn-outline btn-sm">Create</a>
	</Fragment>

	<ListGroupExpenses client:load />
</PageNav>
